/* =========================
   GENERAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}


/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    padding: 18px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.gallery-item {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.4s;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

/* =========================
   PROJECT SHOWCASE
========================= */

.project-showcase {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    align-items: center;
}


/* IMAGE SIDE */

.project-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.project-image {
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    border: 6px solid #ffffff;
    box-shadow: 0 10px 30px rgba(40, 92, 50, 0.15);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.project-image:hover img {
    transform: scale(1.06);
}


/* RIGHT SIDE */

.project-info {
    position: relative;
    padding: 35px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(40, 92, 50, 0.08);
}

.project-label {
    color: #72B77A;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
}

.project-info h3 {
    margin-top: 12px;
    font-size: 34px;
    line-height: 1.2;
    color: #285C32;
}

.green-line {
    width: 60px;
    height: 4px;
    margin: 20px 0;

    background: #72B77A;
}

.project-info > p {
    color: #657568;
    font-size: 15px;
    margin-bottom: 25px;
}


/* FEATURES */

.project-features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-features div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-features strong {
    font-size: 20px;
    color: #72B77A;
}

.project-features span {
    color: #285C32;
    font-weight: 600;
}


/* DECORATION */

.project-decor {
    display: flex;
    gap: 8px;
    margin-top: 30px;
}

.project-decor span {
    width: 35px;
    height: 5px;
    background: #BFE6C3;
}

.project-decor span:first-child {
    background: #72B77A;
    width: 60px;
}

.logo h1 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #111827;
}

.logo p {
    font-size: 12px;
    letter-spacing: 3px;
    color: #c49a3a;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    transition: 0.3s;
}

.navbar a:hover {
    color: #c49a3a;
}

.menu-btn {
    display: none;
    border: none;
    background: none;
    font-size: 28px;
    cursor: pointer;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;
    padding: 160px 7% 80px;

    display: flex;
    align-items: center;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("images/hero.jpg");

    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 750px;
    color: white;
}

.welcome {
    color: #d4af5f;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.hero-content > p {
    max-width: 600px;
    color: #e5e5e5;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 13px 28px;
    background: #c49a3a;
    color: white;
    border: 2px solid #c49a3a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: #c49a3a;
}

.btn-outline {
    background: transparent;
    color: white;
}

.btn-outline:hover {
    background: #c49a3a;
    color: white;
}


/* =========================
   SECTION TITLE
========================= */

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title p {
    color: #c49a3a;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 13px;
}

.section-title h2 {
    font-size: 38px;
    margin-top: 8px;
    color: #111827;
}


/* =========================
   ABOUT
========================= */

.about {
    padding: 100px 7%;
    background: #f8f8f8;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #111827;
}

.about-text p {
    margin-bottom: 15px;
    color: #555;
}

.about-box {
    padding: 50px;
    background: #111827;
    color: white;
    border-left: 5px solid #c49a3a;
}

.about-box h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-box p {
    color: #ddd;
    margin-bottom: 25px;
}

.about-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.about-features span {
    color: #d4af5f;
    font-weight: bold;
}


/* =========================
   PRODUCTS
========================= */

.products {
    padding: 100px 7%;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    padding: 35px 25px;
    background: white;
    border: 1px solid #eee;
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-color: #c49a3a;
}

.product-icon {
    width: 65px;
    height: 65px;
    margin: 0 auto 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #111827;
    color: #d4af5f;

    font-size: 28px;
}

.product-card h3 {
    margin-bottom: 12px;
    color: #111827;
}

.product-card p {
    color: #666;
    font-size: 14px;
}


/* =========================
   PROJECTS
========================= */

.projects {
    padding: 100px 7%;
    background: #f8f8f8;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    height: 250px;
    overflow: hidden;
}

.gallery-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1f2937;
    color: #d4af5f;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;

    transition: 0.4s;
}

.gallery-placeholder:hover {
    transform: scale(1.05);
}


/* =========================
   WHY CHOOSE US
========================= */

.why-us {
    padding: 100px 7%;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.why-card {
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #eee;
}

.why-card h3 {
    margin-bottom: 10px;
    color: #111827;
}

.why-card p {
    color: #666;
    font-size: 14px;
}


/* =========================
   CONTACT
========================= */

.contact {
    padding: 100px 7%;
    background: #111827;
    color: white;
}

.contact .section-title h2 {
    color: white;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-info > p {
    color: #ccc;
    margin-bottom: 10px;
}

.contact-details {
    margin-top: 30px;
}

.contact-details p {
    margin-bottom: 15px;
    color: #ddd;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;

    border: none;
    outline: none;

    font-family: inherit;
    font-size: 15px;
}

.contact-form textarea {
    resize: vertical;
}


/* =========================
   FOOTER
========================= */

.footer {
    padding: 35px 7%;
    text-align: center;
    background: #080c14;
    color: white;
}

.footer h3 {
    letter-spacing: 2px;
}

.footer p {
    color: #aaa;
    font-size: 14px;
}

.footer .copyright {
    margin-top: 15px;
    font-size: 12px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 900px) {

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        flex-direction: column;
        gap: 0;

        background: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        padding: 15px 7%;
        border-bottom: 1px solid #eee;
    }

    .menu-btn {
        display: block;
    }

    .hero h2 {
        font-size: 45px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .header {
        padding: 15px 5%;
    }

    .logo h1 {
        font-size: 20px;
    }

    .hero {
        padding: 140px 5% 70px;
    }

    .hero h2 {
        font-size: 38px;
    }

    .hero h3 {
        font-size: 21px;
    }

    .hero-buttons {
        flex-direction: column;
        width: 220px;
    }

    .about,
    .products,
    .projects,
    .why-us,
    .contact {
        padding: 70px 5%;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .about-content,
    .contact-content {
        grid-template-columns: 1fr;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .why-container {
        grid-template-columns: 1fr;
    }

    .about-box {
        padding: 30px;
    }

}